<head>
    <title>mymlops status</title>
    <meta name="referrer" content="no-referrer">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script src="https://unpkg.com/vue@3.5.12/dist/vue.global.js" integrity="sha256-a2aHjMRqXnHW7wquoxnhaOlIoSBFS7xugHgoHPvYYCg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script></head>
<body>
<div id="app">
    <div v-if="dashboardLinks && Object.keys(dashboardLinks).length" style="margin-bottom: 10px;">
        <span v-for="(url, name) in dashboardLinks" :key="name" style="margin-right: 10px;">
            <a :href="url" target="_blank">{{ name }}</a>
        </span>
    </div>

    <table v-if="tunnelList && tunnelList.length" style="margin-bottom: 10px;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Zone</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(tunnel, index) in tunnelList" :key="index">
            <td>{{ tunnel.name }}</td>
            <td>{{ tunnel.zone }}</td>
            <td><a :href="`http://localhost:${tunnel.local_port}`">{{ tunnel.local_port }} -> {{ tunnel.remote_port }}</a></td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th v-for="(header, index) in headers" :key="index">{{ header }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in items" :key="index">
            <td :style="item.status_style">{{ item.status_fmt }}</td>
            <td>{{ item.timestamp_fmt }}</td>
            <td>{{ item.repository_fmt }}</td>
            <td><a :href="item.notebook_url">{{ item.notebook }}</a></td>
            <td>{{ item.notes }}</td>
            <td :style="item.artifacts_style">{{ item.artifacts_fmt }}</td>
            <td>{{ item.accelerator }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    const { createApp, ref, onMounted, onBeforeUnmount } = Vue;
    moment.locale(navigator.language || navigator.userLanguage);

    createApp({
        setup() {
            const items = ref([]);
            const headers = ['status', 'timestamp (local)', 'repository', 'notebook', 'notes', 'artifacts', 'accelerator'];
            const dashboardLinks = ref({});
            const tunnelList = ref([]);
            let pollingInterval;

            const fetchData = async () => {
                try {
                    const { metadata_list, config: { commit: { output_repository }, dashboard: { links } }, tunnel_list } = await (await fetch("/data.json")).json();
                    dashboardLinks.value = links;
                    tunnelList.value = tunnel_list;
                    const repoUrl = output_repository.url.replace(/^(git@|https:\/\/)github\.com[:\/](.+?)\/(.+?)(\.git)?$/, "https://github.com/$2/$3");
                    const branch = output_repository.branch || 'master';

                    items.value = metadata_list.map(row => ({
                        ...row,
                        status_fmt: row.status[0].toUpperCase(),
                        artifacts_fmt: row.artifacts ? 'T' : 'F',
                        timestamp_fmt: moment(row.timestamp).calendar(),
                        repository_fmt: row.repository && `${row.repository.split('/').pop().replace('.git', '')}/${row.branch || ''}`,
                        notebook_url: `${repoUrl}/tree/${branch}/${row.commit}/${row.notebook}`,
                        status_style: {
                            color: {
                                'p': '#3498db',
                                's': '#2ecc71',
                                'f': '#e74c3c',
                            }[row.status[0]]
                        },
                        artifacts_style: {
                            color: row.artifacts ? '#2ecc71' : '#e74c3c',
                        },
                    })).reverse();
                } catch (error) { console.error("Error fetching data:", error); }
            };

            const startPolling = () => {
                fetchData();
                stopPolling();
                pollingInterval = setInterval(fetchData, 10000);
            };
            const stopPolling = () => {
                if (pollingInterval) {
                    clearInterval(pollingInterval);
                    pollingInterval = void 0
                }
            }

            onMounted(() => {
                startPolling();
                document.addEventListener("visibilitychange", () => document.visibilityState === "visible" ? startPolling() : stopPolling());
            });

            onBeforeUnmount(() => {
                stopPolling();
                document.removeEventListener("visibilitychange", handleVisibilityChange);
            });

            return { items, headers, dashboardLinks, tunnelList };
        }
    }).mount('#app');
</script>

</body>

